<mat-dialog-content>
    <form [formGroup]="wordForm" class="w-full max-w-lg">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              Word/Phrase
            </label>
            <input [ngClass]="{'border-red-300': wordForm.get('word')?.dirty &&  wordForm.get('word')?.hasError('required') }" formControlName="word" class="appearance-none block w-full bg-gray-100 text-gray-700 border  rounded py-3 px-4 mb-1 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Word/Phrase to guess">
            <p class="{{wordForm.get('word')?.dirty &&  wordForm.get('word')?.hasError('required') ? 'visible' : 'invisible' }} text-red-300 text-xs italic mb-2">Please fill out this field.</p>
          </div>
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
              Clues
            </label>
            <div formArrayName="clues">
                <div class="flex justify-between gap-6" *ngFor="let item of clues.controls as clue; let i = index; let last = last">
                  <ng-container *ngIf="currentIndex === i; else notEdit">
                    <div class="flex-grow" [formGroupName]="i" >
                        <input [ngClass]="{'border-red-300': item.get('clue')?.dirty &&  item.get('clue')?.hasError('required') }" formControlName="clue" class="appearance-none block w-full bg-gray-100 mb-1 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Clue for the word">
                        <p class="{{item.get('clue')?.dirty &&  item.get('clue')?.hasError('required') ? 'visible' : 'invisible' }} text-red-300 text-xs italic mb-2">Please fill out this field.</p>
                        <!-- {{ clues.at(i).get('clue')?.dirty }}
                        {{ clues.at(i).hasError('required') }}
                        {{ clues.at(i).get('clue')?.value | json }} -->
                    </div>
                    <button mat-icon-button class="bg-green-300" (click)="addClue(last ? null : item.get('clue'))" [color]="last ? 'primary': 'accent'" aria-label="Example icon button with a home icon">
                      <mat-icon *ngIf="last">add</mat-icon>
                      <mat-icon  *ngIf="!last">done</mat-icon>
                    </button>
                      <!-- <button (click)="addClue(item.get('clue'))" mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
                          <mat-icon>add</mat-icon>
                          div.
                      </button>
                    </ng-template> -->
                  </ng-container>
                  <ng-template #notEdit>
                    <div class="flex flex-grow justify-between gap-6 {{item.get('clue')?.value ? 'visile' : 'invisible'}}" >
                        <div class="flex-grow" [formGroupName]="i" >
                          <input [ngClass]="{'border-red-300': item.get('clue')?.dirty &&  item.get('clue')?.hasError('required') }" formControlName="clue" class="appearance-none block w-full bg-white mb-1 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white shadow-sm cursor-not-allowed" id="grid-last-name" type="text" placeholder="Doe" readonly>
                          <p class="{{item.get('clue')?.dirty &&  item.get('clue')?.hasError('required') ? 'visible' : 'invisible' }} text-red-300 text-xs italic mb-2">Please fill out this field.</p>
                          <!-- {{ clues.at(i).get('clue')?.dirty }}
                          {{ clues.at(i).hasError('required') }}
                          {{ clues.at(i).get('clue')?.value | json }} -->
                        </div>
                        <button (click)="editClue(i)" mat-icon-button aria-label="Example icon button with a home icon">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                  </ng-template>
                    
              </div>

            </div>
          </div>
          <div class="w-full px-3 flex items-center justify-center">
          </div>
        </div>
        <!-- <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
              Password
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="password" placeholder="******************">
            <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-2">
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
              City
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="text" placeholder="Albuquerque">
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
              State
            </label>
            <div class="relative">
              <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                <option>New Mexico</option>
                <option>Missouri</option>
                <option>Texas</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
              Zip
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-zip" type="text" placeholder="90210">
          </div>
        </div> -->
      </form>
</mat-dialog-content>
