<div mat-dialog-title>
  <h1 class="text-gray-700 text-center font-bold text-2xl transform -translate-y-5">{{ data ? 'Edit Item' : 'Create New' }}</h1>
</div>
<mat-dialog-content>
    <form [formGroup]="wordForm" class="w-full max-w-lg">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
              Word/Phrase
            </label>
            <input [ngClass]="{'border-red-300': wordForm.get('word')?.dirty &&  wordForm.get('word')?.hasError('required') }" formControlName="word" class="appearance-none block w-full bg-white uppercase text-gray-700 border text-sm rounded-lg p-2.5 mb-1 leading-tight focus:outline-none focus:bg-white focus:ring-blue-500 focus:border-blue-500" type="text" placeholder="Word/Phrase to guess">
            <p class="{{wordForm.get('word')?.dirty &&  wordForm.get('word')?.hasError('required') ? 'visible' : 'invisible' }} text-red-300 text-xs italic mb-2">Please fill out this field.</p>
          </div>
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
              Clues
            </label>
            <div formArrayName="clues">
              <div cdkDropList [cdkDropListData]="clues.controls" class="example-list" (cdkDropListDropped)="drop($event)">
                <ng-container *ngIf="clues.length > 1">
                  <div [cdkDragDisabled]="clues.length <= 2 || isEditing" cdkDrag class="flex justify-between gap-1" *ngFor="let item of clues.controls | slice:0 : clues.length - 1 ; let i = index">
                    <div class="flex flex-grow justify-between gap-1 {{currentIndex === i || item.get('clue')?.value ? 'visible' : 'invisible'}}" >
                      <div class="flex-grow" [formGroupName]="i" >
                        <div class="flex group justify-end items-start relative">
                          <!-- <div #element formControlName="clue" [contentEditable]="currentIndex === i" class="block p-2.5 w-full text-sm text-gray-700 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 outline-none">
                          </div>
                          <input class="hidden" formControlName="clue" type="text"> -->
                          <textarea [ngClass]="{'focus:border-blue-500': currentIndex === i, 'cursor-default': currentIndex !== i}" [readonly]="currentIndex !== i" (input)="autoResize(element)"  #element autoResize formControlName="clue" rows="1" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-none" placeholder="Clue for the word">
                          </textarea>
                          <!-- <input #element [readonly]="currentIndex !== i" [ngClass]="{'border-red-300': item.get('clue')?.dirty &&  item.get('clue')?.hasError('required')}" formControlName="clue" class="{{ currentIndex === i ? 'bg-gray-100' : 'bg-white' }} appearance-none block w-full mb-1 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white shadow-sm focus:cursor-text" type="text" placeholder="Clue for the word"> -->
                          <div cdkDragHandle *ngIf="clues.length > 2 && currentIndex !== i && !isEditing"  class="cursor-pointer absolute hidden group-hover:inline-block transform -translate-x-1 translate-y-2.5">
                            <mat-icon>swap_vert</mat-icon>
                          </div>
                        </div>
                        <p class="{{item.get('clue')?.dirty &&  item.get('clue')?.hasError('required') ? 'visible' : 'invisible' }} text-red-300 text-xs italic mb-2 ">Please fill out this field.</p>
                      </div>
                      <button class="action-buttons" mat-icon-button class="{{ currentIndex === i ? 'visible' : 'invisible' }}" (click)="deleteClue(i)" color="warn" aria-label="Example icon button with a home icon">
                        <mat-icon style="font-size:24px">delete</mat-icon>
                      </button>
                      <button class="action-buttons" [color]="currentIndex === i ? 'accent' : ''" (click)="currentIndex !== i ? editClue(i, element) : addClue(item.get('clue'),  true)" mat-icon-button aria-label="Example icon button with a home icon">
                        <mat-icon style="font-size:24px" *ngIf="currentIndex === i">done</mat-icon>
                        <mat-icon style="font-size:24px" *ngIf="currentIndex !== i">edit</mat-icon>
                      </button>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngFor="let item of clues.controls; let i = index; let last = last">
                  <ng-container *ngIf="last">
                    <div  class="flex flex-grow justify-between gap-1 {{ currentIndex === i ? 'visible' : 'invisible'}}" >
                      <div class="flex-grow" [formGroupName]="i" >
                        <textarea [ngClass]="{'focus:border-blue-500': currentIndex === i}" (input)="autoResize(element)" #element autoResize formControlName="clue" rows="1" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:border-blue-500 focus:outline-none dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-none" placeholder="Clue for the word">
                        </textarea>
                        <p class="{{item.get('clue')?.dirty &&  item.get('clue')?.hasError('required') ? 'visible' : 'invisible' }} text-red-300 text-xs italic mb-2">Please fill out this field.</p>
                      </div>
                      <button mat-icon-button class="invisible" color="warn" aria-label="Example icon button with a home icon">
                        <mat-icon style="font-size:24px">delete</mat-icon>
                      </button>
                      <button mat-icon-button class="bg-green-300" (click)="addClue(item.get('clue'),  false)" color="primary" aria-label="Example icon button with a home icon">
                        <mat-icon style="font-size:24px">add</mat-icon>
                      </button>
                    </div>

                  </ng-container>
                </ng-container>
              </div>

            </div>
          </div>
        </div>
      </form>
      <div class="flex justify-end gap-2 w-full">
        <button mat-button class="text-gray-700 hover:text-gray-800" (click)="cancelAction()">Cancel</button>
        <button [ngClass]="{'cursor-not-allowed': isEditing || wordForm.get('word')?.invalid || cluesValidity}" [disabled]="isEditing || wordForm.get('word')?.invalid || cluesValidity" mat-flat-button (click)="saveAction()" color="primary" cdkFocusInitial>Save</button>
      </div>
</mat-dialog-content>
