@font-face {
    font-family: "Pluto Sans";
    src: url("./../fonts/pluto-sans/Pluto-Sans.ttf");
}

.pluto-sans {
    font-family: "Pluto Sans", sans-serif;
}


@font-face {
    font-family: "Russo";
    src: url("./../fonts/russo/RussoOne.ttf");
}

.russo {
    font-family: "Russo", sans-serif;
}


@font-face {
    font-family: "Graphik";
    src: url("./../fonts/graphik/GraphikRegular.otf");
}

.graphik {
    font-family: "Graphik", sans-serif;
}